@model Shop_web_app.Models.WeatherResponse
@{
    ViewData["Title"] = "Index";
}

<h1>Values form weather api</h1>
<p>Temperature min: @Model.main.temp_min</p>
<p>Temperature max: @Model.main.temp_max</p>

